.RDMain {
    min-height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    
}
.RDMain > * {
    margin-bottom: 10px;
}
.RDMain .modalMain {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RDMain .modalContentMain {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}
.RDMain .reportModalContent > * {
    width: 100%;
    margin-bottom: 30px;
}
.RDMain .modalHeading{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex:2;
    display: flex;
}

.RDMain .reportModalContent {
    width: 100%;
    flex:6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px; 
}
.RDMain .reportModalFooter {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.RDMain .itemRow > h3 {
    font-size: 15px;
}
.RDMain .itemRow > h2 {
    font-size: 15px;
    font-weight: bold;
}
.RDMain .itemRow {
    display: flex;
    align-items: center;
}
.RDMain .conditionCards {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;

    
}
.RDMain .itemContainer {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 45%;
}
.RDMain .itemRow > * {
    flex:1
}
.RDMain .itemRow {
    display: flex;
    flex-direction: row;
}
.RDMain .mapContainer {
    width: 100%;
    height: 40vh;

}
.RDMain .truckCard {
    display: flex;
    flex-direction: row;
    width: 19vw;
    min-height:15vh;
    margin: 20px;
    
}
.RDMain .truckCard .TCImage {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
}
.RDMain .truckCard .TCImage > img {
    height: 70%;
    object-fit: contain;
    width: 80%;

}
.RDMain .TCDesc span {
    text-align: center;
}
.RDMain .truckCard .TCDesc {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}
.RDMain .conditionCard {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}
.RDMain .conditionRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px !important;

    justify-content: center;
}
.RDMain .Heading {
    color:black;
    display: flex;
    align-items: center;
    width: 100%;
}
.RDMain .temperatureCard {
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    font-size: 2rem;
    font-weight: bold;
}
.RDMain .Heading h3 {
    font-weight: bold;

}
.RDMain .conditionCard h3 {
    font-size: 14px;
    
}
.RDMain .conditionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.RDMain .conditionMap {
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    align-self: center;
    justify-self: center;

}
.RDMain .conditionItem {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}
.RDMain .Heading div {
    width: auto;
    height: 1px;
    flex: 1;
    margin-left: 5px;
    border-bottom: 1px solid black;
}
.RDMain .conditionCard h3 span {
    font-weight: bold;
    font-size: 25px;
    text-align: right;
}
.RDMain .conditionCard h5 {
    font-size: 15px;
    font-weight: lighter;
}
.RDMain .TruckItem {
    height: 25vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;

    margin-bottom: 10px;
}
.RDMain .imageHolder {
    flex: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.RDMain .image {
    width: 80%;
    height: 80%;
    object-fit: contain;

}

.RDMain .contentItem > div {
    width: 100%;

}
.RDMain .twoCol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.RDMain .centerCol {
    display: flex;
    justify-content: center;
    align-items: center;
}
.RDMain .routeTitle {
    font-size: 20px;
    font-weight: 600;
}