.SDMain {
    width: 100%;
    min-height: 100%;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SDMain .Heading {
    color:black;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
}

.SDMain .Heading h3 {
    font-weight: bold;
}
.SDMain .Heading div {
    width: auto;
    height: 1px;
    flex: 1;
    margin-left: 5px;
    border-bottom: 1px solid black;
}
.SDMain .sensorInfo {
    display: flex;
    width: 20vw;
    height: 30vh;
    flex-direction: column;
}
.SDMain .topRow {
    display: flex;
    height: 60%;
    flex-direction: row;
    width: 100%;
}
.SDMain .sensorInfo .imageHolder {
    flex: 1;
    display :flex;  
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;

}
.SDMain .bottomRow:first-child {
    border-bottom-style: none;
}
.SDMain .bottomRow:last-child {
    border-top-style: none;
}
.SDMain .chartHolder {
    width: 100%;
    height: 30vh;
    
}
.SDMain .sensorInfo .imageHolder > img {
    height: 60%;
    width: 60%;
    object-fit: contain;
}
.SDMain .bottomRow .title {
    font-size: 20px;
    font-weight: 200;
}
.SDMain .desc {
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.SDMain .bottomRow {
    
    border: 1px solid black;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.SDMain .lbl {
    font-size: 12px;
    font-weight: lighter;

}
.SDMain .val {
    font-weight: bold;
}
.SDMain .doubleRow {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 18vw;
}
.SDMain .doubleRow .imageHolder {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SDMain .sensorContainer {
    margin-top: 10px;
    padding:20px;
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.SDMain .doubleRow .rowValue {
    height: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.SDMain .doubleRow .imageHolder > img {
    object-fit: contain;
    height:90%;
    width: 90%;

}