
.cardA {
    width: 20rem;
    border: 1px solid #ccc;
    background-color: #1B1F21;
    box-sizing: border-box;
    color: rgb(219, 212, 212);
    position: relative;
    display: inline-block;
    height: auto;
  }
  
  .cardA-body {
    padding: 20px;
    line-height: 25px;
    min-height: 200px;
    font-size: 1.3rem;
  }
  
  .cardA-title {
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
  
  .cardA-title:hover {
    color: #fff;
  }
  
  .cardA-title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: crimson;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .cardA-title:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .cardA-footer {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 7fr 1fr 1fr;
    padding: 20px;
  }
  
  .ico {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
     -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .ico:hover {
    color: crimson;
  }